.header{
    background-color:rgb(78, 12, 12);
    padding: 10px;
    margin: 10px auto;
    color: rgb(188, 211, 165);
}
.header p{
    width: 800px;
    align-items: center;
   justify-content: center;
   margin-left: 250px;
}

.header img{
    height:200px;
}