.singer-card{
    box-shadow: 2px 4px 15px  black;
    background-color: rgb(230, 209, 201);
    border-radius:20px ;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.singer-card img{
    width: 300px;
    height: 350px;
    border-radius: 50px;
    padding: 8px;
    object-fit: cover; 
    transition: transform 3s;
}
.singer-card img:hover{
    transform: scale(0.8);
}

.singer-card p:nth-child(odd){
    color: darkgreen;
    font-size: 20px;
}
.singer-card p:nth-child(even){
    color: crimson;
    font-size: 25px;
}
.singer-card p:last-child{
    font-weight:900;
    font-size: 30px;
}

.singer-card button{
    border: darkred solid 1px;
    color: white;
    font-size: 25px;
    padding: 10px  25px;
    border-radius: 9px;
    background:linear-gradient( to left ,black ,rgb(231, 15, 51));
}

.singer-card i{
    color: rgb(229, 255, 0);
    font-size: 30px;
    margin-right: 10px;
}
.social-icon i{
    margin: 15px;
    color: black;
  
}
.social-icon i:last-child{
    color: blue;
}